.btn {
    color: white;
}

.bg-navbar {
    background: #505050;
}

.left-object {
    padding-left: 20px;
}

.right-object {
    padding-right: 20px;
}

.nav-item a:link {
    color: white;
}

li {
    display: inline;
}
