.btn {
    color: white;
}

.navbar {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.bg-navbar {
    background: #505050;
}

.middle-object {
    padding-left: 100px;
}

li {
    display: inline;
}

.navbar-dark .d-flex .nav-link {
    color: white;
}

.navbar-brand {
    font-family: "Homemade Apple";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 750;
    line-height: 26.4px;
}
