.navbar {
    padding: 8px;
}

.btn {
    color: white;
}

.bg-navbar {
    background: #505050;
}

.left-object {
    padding-left: 20px;
}

.middle-object {
    align-self: flex-end;
    text-align: center;
}

.right-object {
    padding-right: 20px;
}

li {
    display: inline;
}

.navbar-dark .d-flex .nav-link {
    color: white;
}

.navbar-brand {
    font-family: "Homemade Apple";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 750;
    line-height: 26.4px;
}
