.home {
    background-image: url("https://www.allwhitebackground.com/images/7/Fruit-Juice-Background-Picture.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-home {
    position: relative;
    margin-left: 60%;
    margin-top: 15%;
    text-align: center;
}

.container-home h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
}

.container-home .btn {
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container-home .btn:hover {
    background-color: black;
}
