.home {
    background-image: url("https://www.allwhitebackground.com/images/7/Fruit-Juice-Background-Picture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-home {
    position: relative;
    margin-left: 60%;
    margin-top: 15%;
    text-align: center;
}

.container-home h2 {
    font-size: 60px;
    font-weight: bolder;
    font-style: italic;
    padding-bottom: 15px;
    color: #363636;
}

.container-home .btn-home {
    background: #505050;
    color: white;
    font-size: 18px;
    padding: 15px 25px;
    cursor: pointer;
    border-style: none;
}

.container-home .btn-home:hover {
    background-color: gold;
    color: black;
    outline-style: solid;
    outline-width: 1px;
    border-style: none;
}

.message {
    font-family: "Homemade Apple";
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 80px;
}
